/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 19, 2019, 6:41:52 PM
    Author     : Prodigio
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  /*background: #f2f2f2;*/
  
  font-family: 'Open Sans', sans-serif;
}


.search {
  width: 100%;
  position: static;
  display: flex;
}
a{
    color: black !important;
}
.searchTerm {
  width: 200%;
  border: 2px solid #3f7f45;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #3f7f45;
}

.searchButton {
  width: 140px;
  height: 50px;
  border: 1px solid #3f7f45;
  background: #3f7f45;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img{
   
    width: 100px; height: 100px;
}
.txt{
    font-family: Times New Roman;
    /*font-size: x-large;*/
    font-size: 30px;
}
.title{
    display: block;
    margin-left: 105px;
    margin-right: auto;
}
footer {
  position: absolute;
  bottom: 0;
  right: 2%;
}


@media only screen and (max-width:620px) {
 .wrap, .search, .searchTerm{
    width:85%;
  }
  .title{
      margin-left: auto;
      margin-right: auto;
  }
}