/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.*/
/*.ul{
    padding-left:0;
}
*/.li{
    list-style: none;
    display: inline;
    padding-right: 10px;
}/*
.cuerpo{
    width: 800px;
    margin-left: 40px;
    margin-right: auto;
}
.items{
    float:left;
    margin-left:5px;
    margin-bottom: 10px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 3px 5px 4px #888888;
}
.portada{
    width:220px;
    height: 250px;
}*/
.text{
    color: black;
}
.search {
    width: 100%;
    /*position: relative;*/
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 2px solid #3f7f45;
    /*border: 3px solid #037004;*/
    border-right: none;
    padding: 5px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #3f7f45;
}

.searchButton {
    width: 140px;
    height: 50px;
    border: 1px solid #3f7f45;
    background: #3f7f45;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 50%;
    position: relative;
    /*top: 50%;*/
    left: 28%;/*
  transform: translate(-50%, -50%);*/
}
.imagen{
    float:left;
    width:245px;
}
ul{
    overflow:hidden;
}/*
li{
    display:inline-block;
}*/
.fa {
    padding: 14px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-flask{
    background: #fff;
    color: black;
}
@media (max-width: 991.98px){
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}