<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title th:text="${title}"></title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="fPT9EHgfqXdBFlKf0NHdhtNIgApUiWFSr3LAPMjV" name="csrf-token"/>
         <link rel="manifest" th:href="@{img/favicon/manifest.json}">
         <link rel="icon" type="image/png" class="js-site-favicon" th:href="@{/images/icon.jpg}"/>
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" th:href="@{css/main.css}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
     <body>
        <header class="c-header">
            <section class="c-jumbotron">
                <div class="c-jumbotron__head">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="c-jumbotron__brand"><a class="c-top__link u-uppercase" th:href="@{/}">www.informacion2030.org  
                                        <br>informacion para el desarrollo sostenible </a></div>
                            </div>
                            <div class="col-xs-7">
                                <section class="c-top">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <nav class="c-top__nav">
                                                <ul class="c-top__items">
                                                    <li class="c-top__item"><a class="c-top__link" th:href="@{/}">Inicio</a></li>
                                                    <li class="c-top__item"><a class="c-top__link" th:text="${user}"></a></li>
                                                    <!--li class="c-top__item"><a class="c-top__link" href="https://www.prodigioconsultores.com/">Contacto</a></li-->
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-search c-search--float">
                <h5 class="c-search__title">Panel de administración</h5>
                <!--p class="c-search__subtitle">Fuentes de datos</p-->
                </div>
                <div class="c-carrusel" id="context-odepa">
                    <div>
                        <div class="c-carrusel__item">
                            <div class=""><img class="c-carrusel__image" src="" alt=""></div>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <main role="main">
            <section class="container">
                <div class="row">
                    <div class="col-xs-12 u-mt30 u-mb30">
                        <ul class="o-crumbs">
                            <li class="o-crumbs__item"><a class="o-crumbs__link" href="#"></a></li>
                            <li class="o-crumbs__item"><a class="o-crumbs__link" th:href="@{/}">Inicio</a></li>
                            <li class="o-crumbs__item"><a class="o-crumbs__link" href="#">Administración</a></li>
                        </ul>
                    </div>
                </div>
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row js-canvas">
                            <div class="col-xs-12 col-md-8 js-results">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <div class="c-paginator u-mt30 u-mb30">
                                            <h2><i class="fa fa-link" aria-hidden="true"></i> Listado de fuente de datos</h2>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="c-paginator u-mt30 u-mb30">
                                            <ul class="c-paginator__items u-text_right">
                                                <li class="c-paginator__item" title="Agregar Origen de datos">
                                                    <a href="#addEmployeeModal"  data-toggle="modal" id="add" class="btn btn-success">
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="c-paginator__item" title="Eliminar seleccionados">
                                                    <a href="#addEmployeeModal"  data-toggle="modal" id="add" class="btn btn-danger disabled">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <span class="custom-checkbox">
                                        <input type="checkbox" id="selectAll">
                                            <label for="selectAll"/>
                                    </span>
                                </th>
                                <th>Url</th>
                                <th>Nombre</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="tramite,iter: ${tramites}" th:attr="class=${!tramite.isActivo() ? 'text-muted' : null}">
                                <td>
                                    <span class="custom-checkbox">
                                        <input type="checkbox" th:id="${'checkbox'+iter.count}" name="options" th:value="${tramite.getId()}" th:data-user="${tramite.getTitulo()}" class="rowuser">
                                            <label th:for="${'checkbox'+iter.count}"></label>
                                    </span>
                                </td>
                                <td th:text="${tramite.getTitulo()}"/>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" th:data-id="${tramite.getId()}" class="custom-control-input tramite" th:id="${'customSwitch'+iter.count}" th:attr="checked=${tramite.isActivo() ? 'checked' : null}">
                                            <label class="custom-control-label" th:for="${'customSwitch'+iter.count}" th:text="${tramite.isActivo() ? 'Activo' : 'Inactivo'}"/>
                                    </div>
                                </td>
                                <td>
                                    <a href="#editEmployeeModal" class="edit" th:data-description="${tramite.getDescription()}" th:data-title="${tramite.getTitulo()}" th:data-id="${tramite.getId()}" data-toggle="modal">
                                        <i th:attr="class='material-icons '+${!tramite.isActivo() ? 'text-muted' : ''}" data-toggle="tooltip" title="" data-original-title="Editar">edit</i></a>
                                    <a href="#deleteEmployeeModal" class="delete" th:data-user="${tramite.getTitulo()}" th:data-id="${tramite.getId()}" data-toggle="modal">
                                        <i th:attr="class='material-icons '+${!tramite.isActivo() ? 'text-muted' : ''}" data-toggle="tooltip" title="" data-original-title="Eliminar">delete</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
                <div id="addEmployeeModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="post" th:action="@{/temporalmentefueradeservicio}">
                                <div class="modal-header">
                                    <h4 class="modal-title">Agregar nueva fuente de datos</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Nombre del sitio web</label>
                                        <input name="titulo" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Url</label>
                                        <input name="url" class="form-control">
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                                    <input type="submit" class="btn btn-success" value="Agregar">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <section class="c-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7"><span class="c-bottom__text c-bottom__text--dark u-mb10">informacion para el desarrollo sostenible</span>
                        <p class="c-bottom__text u-mb10">www.informacion2030.org</p>
                    </div>
                    <div class="col-sm-5 u-text_right"><span><a class="c-bottom__text c-bottom__text--dark" href="#"><strong></strong></a></span>
                        <div class="o-shared"><span class="o-shared__text"></span>
                            <div class="o-shared__links"><a class="o-shared__link" href="#"><span class="o-shared__icon o-shared__icon--facebook"><i class="fa fa-facebook"></i></span></a><a class="o-shared__link" href="#"><span class="o-shared__icon o-shared__icon--twitter"><i class="fa fa-twitter"></i></span></a></div>
                            <div class="u-mt10">
                                <p class="c-bottom__text u-mb0">Prodigio Labs for &nbsp;<a href="https://www.prodigioconsultores.com/" target="_blank">Prodigio Consultores</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="js/libs/bundle.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
