<!DOCTYPE html>
<html>
    <head>
        <title th:text="${item.getFieldValue('dc.title_s')}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="manifest" href="img/favicon/manifest.json">
         <link rel="icon" type="image/png" class="js-site-favicon" th:href="@{/images/icon.jpg}"/>
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#3f7f45">
        <link rel="stylesheet" href="css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    </head>
    <body>
        <header class="c-header">
            <section class="c-jumbotron">
                <div class="c-jumbotron__head">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="c-jumbotron__brand"><a class="c-top__link u-uppercase" th:href="@{/}">www.informacion2030.org  
                                        <br>informacion para el desarrollo sostenible </a></div>
                            </div>
                            <div class="col-xs-7">
                                <section class="c-top">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <nav class="c-top__nav">
                                                <ul class="c-top__items">
                                                    <li class="c-top__item"><a class="c-top__link" th:href="@{/}">Inicio</a></li>
                                                <!--li class="c-top__item"><a class="c-top__link" href="https://www.prodigioconsultores.com/">Contacto</a></li-->
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-search c-search--float">
                    <!--h5 class="c-search__title">Busca En El Descubridor</h5-->
                    <p class="c-search__subtitle">BUSCA EN EL DESCUBRIDOR</p>
                    <form method="GET" action="discover" class="c-search__form">
                        <div class="search" th:if="${query} != ''">
                            <input type="text" name="query" th:attr="value=${query}" class="c-search__input c-search__input--search">
                            <input type="submit" value="Buscar" class="c-search__button">
                        </div>
                        <div class="search" th:if="${query} == '' ">
                            <input type="text" name="query" th:attr="placeholder='Ej: Cambio climático'" class="c-search__input c-search__input--search">
                            <input type="submit" value="Buscar" class="c-search__button">
                        </div>
                    </form>
                </div>
                <div class="c-carrusel" id="context-odepa">
                    <div>
                        <div class="c-carrusel__item js-getImage">
                            <div class="js-image"><img class="c-carrusel__image" src="img/bg-header.jpg" alt=""></div>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <main role="main">
            <section class="container">
                <div class="row">
                    <div class="col-xs-12 u-mt30 u-mb30">
                        <ul class="o-crumbs">
                            <li class="o-crumbs__item"><a class="o-crumbs__link" href="#"></a></li>
                            <li class="o-crumbs__item"><a class="o-crumbs__link" th:href="@{/}">Inicio</a></li>
                            <li class="o-crumbs__item"><a class="o-crumbs__link" href="#">Resultados</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="o-box u-gutter u-mb20">
                                    <h1 class="o-title o-title--big" th:text="${item.getFieldValue('dc.title_s')}"></h1>
                                    <div  class="row u-mt20">
                                        <div class="col-sm-4 u-mb30">
                                            <div th:remove="tag" th:if="${not #lists.isEmpty(item.getFieldValue('bitstream_thumbnail_retrieveLink_ss'))}">
                                                <div th:remove="tag" th:each="fulltext, it: ${item.getFieldValue('bitstream_thumbnail_retrieveLink_ss')}">
                                                    <div th:remove="tag" th:if="${it.size > 1}">
                                                        <a th:href="${item.getFieldValue('bitstream_thumbnail_retrieveLink_ss')[it.index]}">
                                                            <img th:if="${it.index} == 0" alt="Thumbnail" th:src="${fulltext}" class="u-border"/>
                                                        </a>
                                                    </div>
                                                    <div th:remove="tag" th:if="${it.size == 1}">
                                                        <a th:href="${item.getFieldValue('bitstream_thumbnail_retrieveLink_ss')}">
                                                            <img th:if="${it.index} == 0" alt="Thumbnail" th:src="${fulltext}" class="u-border"/>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div th:remove="tag" th:if="${item.getFieldValue('origen.name_s')} == 'Portal de Datos Públicos'">
                                                <img alt="Thumbnail" th:src="@{/images/iconos_dataset_sin_bold.png}" class="u-border">
                                            </div>
                                            <div th:remove="tag" th:if="${item.getFieldValue('origen.name_s')} != 'Portal de Datos Públicos'">
                                                <div th:remove="tag" th:if="${#lists.isEmpty(item.getFieldValue('bitstream_thumbnail_retrieveLink_ss'))}">
                                                    <img alt="Thumbnail" th:src="@{/images/mime.png}" class="u-border">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="o-resource__summary">
                                                <dl class="o-resource__feature" >
                                                    <dt class="o-resource__term" th:if="${not #lists.isEmpty(item.getFieldValue('dc.contributor.author_ss'))}">Autor(es):</dt>
                                                    <dd class="o-resource__def" th:remove="tag" th:each="author, it: ${item.getFieldValue('dc.contributor.author_ss')}">
                                                        <a class="o-resource__def" th:href="${contextPath}+'/discover?filter=dc.contributor.author_ss:&quot;'+${author}+'&quot;'" th:text="${author}"/>
                                                    </dd>
                                                    <div class="u-clearfix"></div>
                                                    <dt class="o-resource__term" th:if="${not #lists.isEmpty(item.getFieldValue('dc.contributor.entity_ss'))}">Autor(es):</dt>
                                                    <dd class="o-resource__def" th:remove="tag" th:each="author, it: ${item.getFieldValue('dc.contributor.entity_ss')}">
                                                        <a class="o-resource__def" th:href="${contextPath}+'/discover?filter=dc.contributor.entity_ss:&quot;'+${author}+'&quot;'" th:text="${author}"/>
                                                    </dd>
                                                    <div class="u-clearfix"></div>
                                                    <dt class="o-resource__term" th:if="${not #lists.isEmpty(item.getFieldValue('dc.date.issued_s'))}">Fecha de publicación</dt>
                                                    <dd class="o-resource__def" th:remove="tag" th:each="fecha, it: ${item.getFieldValue('dc.date.issued_s')}">
                                                        <a class="o-resource__def" th:href="${contextPath}+'/discover?filter=dc.date.issued_s:&quot;'+${author}+'&quot;'" th:text="${fecha}"/>
                                                    </dd>
                                                    <div class="u-clearfix"></div>
                                                    <dt class="o-resource__term" th:if="${not #lists.isEmpty(item.getFieldValue('dc.subject.spanish_ss'))}">Palabras claves</dt>
                                                    <dd class="o-resource__def" th:each="subject, it: ${item.getFieldValue('dc.subject.spanish_ss')}">
                                                        <a class="o-link o-link--tag o-link--big" th:text="${subject}" th:href="${contextPath}+'/discover?filter=dc.subject.spanish_ss:&quot;'+${subject}+'&quot;'"/>
                                                        <a th:if="${!it.last}" th:text="'-'"/>
                                                    </dd>
                                                    <div class="u-clearfix"></div>
                                                </dl>
                                               <div th:if="${not #lists.isEmpty(item.getFieldValue('bitstream_original_retrieveLink_ss'))}">
                                                   <div th:each="bitstream, it: ${item.getFieldValue('bitstream_original_retrieveLink_ss')}">
                                                        <a th:href="${bitstream}" class="o-link o-link--tag o-link--big">
                                                            <div  th:if="${it.size > 1}">
                                                                <span class="o-link__icon"><img src="images/ico-study.png" alt="estudios" width="14"></span>
                                                                <span class="o-link__text"  th:text="${item.getFieldValue('bitstream_original_original_ss')[it.index]}"></span>
                                                            </div>
                                                            <div th:if="${it.size == 1}">
                                                                <span class="o-link__icon"><img th:src="@{images/ico-study.png}" alt="estudios" width="14"></span>
                                                                <span  class="o-link__text"  th:text="${item.getFieldValue('bitstream_original_original_ss')}"></span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div th:remove="tag" th:if="${not #lists.isEmpty(item.getFieldValue('dc.description.abstract_txt'))}">   
                                                <p class="o-text o-text--big"><strong>Resumen</strong></p>
                                                <div th:remove="tag" th:each="description: ${item.getFieldValue('dc.description.abstract_txt')}">
                                                    <p  class="o-text o-text--big" th:text="${description}" />
                                                </div>
                                            </div>
                                            <div th:if="${not #lists.isEmpty(item.getFieldValue('dc.description_txt'))}">   
                                                <p class="o-text o-text--big" th:each="description: ${item.getFieldValue('dc.description_txt')}"></p>
                                                <p class="o-text o-text--big" th:text="${description}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 js-sidebar" >
                        <div class="o-box o-box--flat u-mb20" th:if="${not #lists.isEmpty(facetOrigen)}">
                            <div class="u-gutter">
                                <h2 class="o-title o-title--small u-text_left">Origen del recurso</h2>
                            </div>
                            <ul class="o-list o-list--tags" th:each="origen, iter: ${facetOrigen}">
                                <li class="o-list__item">
                                    <a class="o-list__text" th:href="${origenLink.get(iter.index)}" th:text="${origen.name}"></a>
                                    <a class="o-list__count" th:href="${origenLink.get(iter.index)}" th:text="${origen.cantidad}"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="o-box o-box--flat u-mb20" th:if="${not #lists.isEmpty(facetSubject)}">
                            <div class="u-gutter">
                                <h2 class="o-title o-title--small u-text_left">Palabras Claves</h2>
                            </div>
                            <ul class="o-list o-list--tags" th:each="subject, iter: ${facetSubject}">
                                <li class="o-list__item">
                                    <a class="o-list__text" th:href="${subjectLink.get(iter.index)}" th:text="${subject.name}"></a>
                                    <a class="o-list__count" th:href="${subjectLink.get(iter.index)}" th:text="${subject.cantidad}"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="o-box o-box--flat u-mb20" th:if="${not #lists.isEmpty(facetAuthor)}">
                            <div class="u-gutter">
                                <h2 class="o-title o-title--small u-text_left">Autores</h2>
                            </div>
                            <ul class="o-list o-list--tags" th:each="author, iter: ${facetAuthor}">
                                <li class="o-list__item">
                                    <a class="o-list__text" th:href="${authorLink.get(iter.index)}" th:text="${author.name}"></a>
                                    <a class="o-list__count" th:href="${authorLink.get(iter.index)}" th:text="${author.cantidad}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <section class="c-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-7"><span class="c-bottom__text c-bottom__text--dark u-mb10">informacion para el desarrollo sostenible</span>
                    <p class="c-bottom__text u-mb10">www.informacion2030.org</p>
                </div>
                <div class="col-sm-5 u-text_right"><span><a class="c-bottom__text c-bottom__text--dark" href="#"><strong></strong></a></span>
                    <div class="o-shared"><span class="o-shared__text"></span>
                        <div class="o-shared__links"><a class="o-shared__link" href="#"><span class="o-shared__icon o-shared__icon--facebook"><i class="fa fa-facebook"></i></span></a><a class="o-shared__link" href="#"><span class="o-shared__icon o-shared__icon--twitter"><i class="fa fa-twitter"></i></span></a></div>
                        <div class="u-mt10">
                            <p class="c-bottom__text u-mb0">Prodigio Labs for &nbsp;<a href="https://www.prodigioconsultores.com/" target="_blank">Prodigio Consultores</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
</html>
