<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title th:text="${title}"></title>
         <link rel="icon" type="image/png" class="js-site-favicon" th:href="@{/images/icon.jpg}"/>
        <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
            rel="stylesheet"></link>
        <link rel="stylesheet" th:href="@{/css/Index.css}"/>
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script type="text/javascript" th:src="@{/js/AutoComplete.js}" ></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/app-index.css}"/>
        <link rel="stylesheet" th:href="@{/css/custom-index.css}"/>
</head>
    <body>
        <div class="container buscadorhome">
            <!--div>
                <span>Información para el Desarrollo Sostenible</span>
            </div-->
            <div class="row">
                <div class="col-md-12">
                    <form method="get" th:action="discover">
                        <div class="form-group simef-form-group">
                            <image th:src="@{/images/ods13.png}" alt="logo" class="img"/>
                            <h2>Información para el Desarrollo Sostenible, ODS 13: 
                                Acción por el cambio climático</h2>
                            <div class="search">
                                <input type="text" id="query" name="query" placeholder="Ej: Cambio Climático" class="searchTerm"></input>
                                <input type="submit" value="Buscar" class="searchButton">
                            </div> 
                        </div>
                    </form>
                </div>
                
            <!--div>
                <p>
                    13.1 Fortalecer la resiliencia y la capacidad de adaptación a los riesgos relacionados con el clima y los desastres naturales en todos los países
                </p>
                <p>
                    13.2 Incorporar medidas relativas al cambio climático en las políticas, estrategias y planes nacionales
                </p>
                <p>
                    13.3 Mejorar la educación, la sensibilización y la capacidad humana e institucional respecto de la mitigación del cambio climático, la adaptación a él, la reducción de sus efectos y la alerta temprana
                </p>
                <p>
                    13.a Cumplir el compromiso de los países desarrollados que son partes en la Convención Marco de las Naciones Unidas sobre el Cambio Climático de lograr para el año 2020 el objetivo de movilizar conjuntamente 100.000 millones de dólares anuales procedentes de todas las fuentes a fin de atender las necesidades de los países en desarrollo respecto de la adopción de medidas concretas de mitigación y la transparencia de su aplicación, y poner en pleno funcionamiento el Fondo Verde para el Clima capitalizándolo lo antes posible
                </p>
                <p>
                    13.b Promover mecanismos para aumentar la capacidad para la planificación y gestión eficaces en relación con el cambio climático en los países menos adelantados y los pequeños Estados insulares en desarrollo, haciendo particular hincapié en las mujeres, los jóvenes y las comunidades locales y marginadas
                </p>
            </div-->
            </div>
            <footer class="page-footer font-small blue">
                <!-- Copyright -->
                <div class="footer-copyright text-right py-3">Prodigio Labs for
                    <a href="https://prodigioconsultores.com" target="_blank"> Prodigio Consultores</a>
                </div>
                <!-- Copyright -->
            </footer>
        </div>
    </body>
    <style>
        .row{
            margin-top: -80px;
        }
    </style>
</html>