<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title th:text="${titlepage}"></title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="fPT9EHgfqXdBFlKf0NHdhtNIgApUiWFSr3LAPMjV" name="csrf-token"/>
         <link rel="manifest" th:href="@{img/favicon/manifest.json}">
         <link rel="icon" type="image/png" class="js-site-favicon" th:href="@{/images/icon.jpg}"/>
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" th:href="@{css/main.css}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
<body>
    <header class="c-header">
        <section class="c-jumbotron">
            <div class="c-jumbotron__head">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="c-jumbotron__brand"><a class="c-top__link u-uppercase" th:href="@{/}">www.informacion2030.org  
                            <br>informacion para el desarrollo sostenible </a></div>
                        </div>
                        <div class="col-xs-7">
                            <section class="c-top">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <nav class="c-top__nav">
                                            <ul class="c-top__items">
                                                <li class="c-top__item"><a class="c-top__link" th:href="@{/}">Inicio</a></li>
                                                <!--li class="c-top__item"><a class="c-top__link" href="https://www.prodigioconsultores.com/">Contacto</a></li-->
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-search c-search--float">
                <!--h5 class="c-search__title">Busca En El Descubridor</h5-->
                <p class="c-search__subtitle">BUSCA EN EL DESCUBRIDOR</p>
                <form method="GET" action="discover" class="c-search__form">
                    <div class="search" th:if="${query} != ''">
                        <input type="text" name="query" th:attr="value=${query}" class="c-search__input c-search__input--search">
                        <input type="submit" value="Buscar" class="c-search__button">
                    </div>
                    <div class="search" th:if="${query} == '' ">
                        <input type="text" name="query" th:attr="placeholder='Ej: Cambio climático'" class="c-search__input c-search__input--search">
                        <input type="submit" value="Buscar" class="c-search__button">
                    </div>
                </form>
            </div>
            <div class="c-carrusel" id="context-odepa">
                <div>
                    <div class="c-carrusel__item">
                        <div class=""><img class="c-carrusel__image" src="" alt=""></div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main role="main">
        <section class="container">
            <div class="row">
                <div class="col-xs-12 u-mt30 u-mb30">
                    <ul class="o-crumbs">
                        <li class="o-crumbs__item"><a class="o-crumbs__link" href="#"></a></li>
                        <li class="o-crumbs__item"><a class="o-crumbs__link" th:href="@{/}">Inicio</a></li>
                        <li class="o-crumbs__item"><a class="o-crumbs__link" href="#">Resultados</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div th:remove="tag" th:if="${not #lists.isEmpty(spellcheck)}">
                    <p>¿Quiso decir: <a th:href="${contextPath}+'/discover?query='+${spellcheck}" th:text="${spellcheck}"></a>?</p>
                </div>
                <div class="col-xs-12 u-mb20">
                    <h2 class="o-title">Resultados de Búsquedas</h2>
                    <div th:remove="tag" th:if="${numFound} > 0 and ${currentPage} <= ${totalPages}">
                        <p th:text="'Se han encontrado '+${numFound}+ ' resultados'" />
                        <p th:text="'Página '+${currentPage} +' de '+ ${totalPages}" />
                    </div>
                </div>
            </div>
            <div class="row js-canvas">
                <div class="col-xs-12 col-md-8 js-results">
                    <div class="row">
                        <div class="col-xs-8" >
                            <div class="c-paginator u-mt30 u-mb30" th:if="${paginationItem.size() > 1} and ${currentPage} <= ${totalPages}">
                                <ul class="c-paginator__items">
                                    <li th:if="${currentPage > 1}" class="c-paginator__item">
                                        <a th:href="${contextPath}+'/discover?query='+${query}+'&page='+${currentPage-1}" class="c-paginator__link">
                                            <i class="fa fa-angle-left"></i>
                                        </a>
                                    </li>
                                    <ul th:each="page : ${paginationItem}" class="c-paginator__item">
                                        <div th:if="${page} == '...'" class="c-paginator__item">  
                                            <li th:text="${page}" class="c-paginator__link"/>
                                        </div>
                                        <div th:if="${page} != '...' and ${page} == ${currentPage}">  
                                            <li class="c-paginator__item">
                                                <a class="c-paginator__link is-active"  th:text="${page}"></a>
                                            </li>
                                        </div>
                                        <div th:if="${page} != '...' and ${page} != ${currentPage}">  
                                            <li class="c-paginator__item">
                                                <a class="c-paginator__link" th:href="${contextPath}+'/discover?query='+${query}+'&page='+${page}+'&filter='+${filter}" th:text="${page}" />
                                            </li>
                                        </div>
                                    </ul>
                                    <li th:if="${currentPage < totalPages}" class="c-paginator__item">
                                        <a th:href="${contextPath}+'/discover?query='+${query}+'&page='+${currentPage+1}" class="c-paginator__link">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="c-paginator u-mt30 u-mb30">
                                <ul class="c-paginator__items u-text_right">
                                    <li class="c-paginator__item" title="Ver lista"><a class="c-paginator__link is-active js-toList" href="#"><i class="fa fa-list"></i></a></li>
                                    <li class="c-paginator__item" title="Ver en cuadrícula"><a class="c-paginator__link js-toGrid" href="#"><i class="fa fa-th-large"></i></a></li>
                                    <li class="c-paginator__item btn-group discovery-sort-options-menu pull-right controls-gear-wrapper" title="Ordenar por">
                                        <button data-toggle="dropdown" class="c-paginator__link dropdown-toggle"><i class="fa fa-cog" aria-hidden="true"></i></button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li id="aspect_discovery_SimpleSearch_item_sort-head" class=" gear-head first dropdown-header">Ordenar Por:</li>
                                            <li id="aspect_discovery_SimpleSearch_item_dc_date_issued_dt" class=" gear-option gear-option-selected">
                                                <a th:href="${contextPath}+'/discover?sort_by=dc.date.issued_s&order=desc&query='+${query}+'&filter='+${filter}">Por Fecha</a>
                                            </li>
                                            <li id="aspect_discovery_SimpleSearch_item_dc_title_sort" class=" gear-option">
                                                <a th:href="${contextPath}+'/discover?sort_by=dc.title_s&order=asc&query='+${query}+'&filter='+${filter}">Orden alfabético</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="list-results">
                        <div th:each="item, iter: ${results}" class="col-xs-12">
                            <div class="o-box u-gutter u-mb20">
                                <div class="o-resource o-resource--small">
                                    <div class="o-resource__visual"><a class="o-resource__link" th:href="${contextPath}+'/item?id='+${item.getFieldValue('id')}">
                                            <div th:remove="tag" th:if="${not #lists.isEmpty(item.getFieldValue('bitstream_thumbnail_retrieveLink_ss'))}">
                                            <div th:remove="tag" th:each="thumbnail, it: ${item.getFieldValue('bitstream_thumbnail_retrieveLink_ss')}" th:unless="${it.index > 0}">
                                            <img alt="Thumbnail" th:src="${thumbnail}" class="o-resource__image">
                                            </div>
                                        </div>
                                        <div th:remove="tag" th:if="${item.getFieldValue('origen.name_s')} == 'Portal de Datos Públicos'">
                                            <img alt="Thumbnail" th:src="@{/images/iconos_dataset_sin_bold.png}" class="o-resource__image">
                                        </div>
                                        <div th:remove="tag" th:if="${item.getFieldValue('origen.name_s')} != 'Portal de Datos Públicos'">
                                            <div th:remove="tag" th:if="${#lists.isEmpty(item.getFieldValue('bitstream_thumbnail_retrieveLink_ss'))}">
                                                <img alt="Thumbnail" th:src="@{/images/mime.png}" class="o-resource__image">
                                            </div>
                                        </div>
                                        </a>                                        
                                    </div>
                                    <div class="o-resource__content">
                                        <a class="o-resource__title" th:href="${contextPath}+'/item?id='+${item.getFieldValue('id')}" th:text="${item.getFieldValue('dc.title_s')}"></a>
                                        <div class="o-resource__summary">
                                            <dl class="o-resource__feature o-resource__feature--inline">
                                                <div class="ocultar">
                                                    <dt class="o-resource__term">Enlace Original:</dt>
                                                    <dd class="o-resource__def" th:remove="tag" th:each="origen, it: ${item.getFieldValue('origen.url_s')}">
                                                        <a th:text="${origen}" th:href="${origen}" target="_blank" class="o-link o-link--tag u-mt10" />
                                                    </dd>
                                                    <div class="u-clearfix"></div>
                                                </div>
                                                <div class="ocultar">
                                                    <dt class="o-resource__term">Tipo de recurso:</dt>
                                                    <dd class="o-resource__def" th:each="type, it: ${item.getFieldValue('dc.type_ss')}" th:text="${type}">
                                                        <span th:if="${!it.last}" th:text="' - '"/>
                                                    </dd>
                                                    <div class="u-clearfix"></div>
                                                </div>
                                                <dt class="o-resource__term">Origen del Recurso:</dt>
                                                <dd class="o-resource__def" th:each="origen, it: ${item.getFieldValue('origen.name_s')}" th:text="${origen}">
                                                </dd>
                                                <div class="u-clearfix"></div>
                                                <div class="ocultar">
                                                    <dt class="o-resource__term">Palabras claves</dt>
                                                    <dd class="o-resource__def" th:each="tag, it: ${item.getFieldValue('dc.subject.spanish_ss')}">
                                                        <a th:href="${contextPath}+'/discover?filter=dc.subject.spanish_ss:&quot;'+${tag}+'&quot;'" th:if="${it.index < 4}" th:text="${tag}" class="o-link o-link--tag u-mt10"/>
                                                        <span th:if="${!it.last && it.index < 3}" th:text="' - '"/>
                                                    </dd>
                                                    <div class="u-clearfix"></div>
                                                </div>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><a class="js-canvasMove" href="#" state="0"><i class="fa fa-align-right"></i></a>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="c-paginator u-mt30 u-mb30" th:if="${paginationItem.size() > 1} and ${currentPage} <= ${totalPages}">
                                <ul class="c-paginator__items">
                                    <li th:if="${currentPage > 1}" class="c-paginator__item">
                                        <a th:href="${contextPath}+'/discover?query='+${query}+'&page='+${currentPage-1}" class="c-paginator__link">
                                            <i class="fa fa-angle-left"></i>
                                        </a>
                                    </li>
                                    <ul th:each="page : ${paginationItem}" class="c-paginator__item">
                                        <div th:if="${page} == '...'" class="c-paginator__item">  
                                            <li th:text="${page}" class="c-paginator__link"/>
                                        </div>
                                        <div th:if="${page} != '...' and ${page} == ${currentPage}">  
                                            <li class="c-paginator__item">
                                                <a class="c-paginator__link is-active"  th:text="${page}"></a>
                                            </li>
                                        </div>
                                        <div th:if="${page} != '...' and ${page} != ${currentPage}">  
                                            <li class="c-paginator__item">
                                                <a class="c-paginator__link" th:href="${contextPath}+'/discover?query='+${query}+'&page='+${page}+'&filter='+${filter}" th:text="${page}" />
                                            </li>
                                        </div>
                                    </ul>
                                    <li th:if="${currentPage < totalPages}" class="c-paginator__item">
                                        <a th:href="${contextPath}+'/discover?query='+${query}+'&page='+${currentPage+1}" class="c-paginator__link">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 js-sidebar" >
                    <div class="o-box o-box--flat u-mb20" th:if="${not #lists.isEmpty(facetOrigen)}">
                        <div class="u-gutter">
                            <strong class="o-title o-title--small u-text_left">Origen del recurso</strong>
                        </div>
                        <ul class="o-list o-list--tags" th:each="origen, iter: ${facetOrigen}">
                            <li class="o-list__item">
                                <a class="o-list__text" th:href="${origenLink.get(iter.index)}" th:text="${origen.name}"></a>
                                <a class="o-list__count" th:href="${origenLink.get(iter.index)}" th:text="${origen.cantidad}"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="o-box o-box--flat u-mb20" th:if="${not #lists.isEmpty(facetSubject)}">
                        <div class="u-gutter">
                            <strong class="o-title o-title--small u-text_left">Palabras Claves</strong>
                        </div>
                        <ul class="o-list o-list--tags" th:each="subject, iter: ${facetSubject}">
                            <li class="o-list__item">
                                <a class="o-list__text" th:href="${subjectLink.get(iter.index)}" th:text="${subject.name}"></a>
                                <a class="o-list__count" th:href="${subjectLink.get(iter.index)}" th:text="${subject.cantidad}"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="o-box o-box--flat u-mb20" th:if="${not #lists.isEmpty(facetAuthor)}">
                        <div class="u-gutter">
                            <strong class="o-title o-title--small u-text_left">Autores</strong>
                        </div>
                        <ul class="o-list o-list--tags" th:each="author, iter: ${facetAuthor}">
                            <li class="o-list__item">
                                <a class="o-list__text" th:href="${authorLink.get(iter.index)}" th:text="${author.name}"></a>
                                <a class="o-list__count" th:href="${authorLink.get(iter.index)}" th:text="${author.cantidad}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section class="c-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-7"><span class="c-bottom__text c-bottom__text--dark u-mb10">informacion para el desarrollo sostenible</span>
                    <p class="c-bottom__text u-mb10">www.informacion2030.org</p>
                </div>
                <div class="col-sm-5 u-text_right"><span><a class="c-bottom__text c-bottom__text--dark" href="#"><strong></strong></a></span>
                    <div class="o-shared"><span class="o-shared__text"></span>
                        <div class="o-shared__links"><a class="o-shared__link" href="#"><span class="o-shared__icon o-shared__icon--facebook"><i class="fa fa-facebook"></i></span></a><a class="o-shared__link" href="#"><span class="o-shared__icon o-shared__icon--twitter"><i class="fa fa-twitter"></i></span></a></div>
                        <div class="u-mt10">
                            <p class="c-bottom__text u-mb0">Prodigio Labs for &nbsp;<a href="https://www.prodigioconsultores.com/" target="_blank">Prodigio Consultores</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="js/libs/bundle.js"></script>
    <script src="js/main.js"></script>
</body>
</html>